@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(./Loyaut.css);
@import url(./Header.css);
@import url(./Card.css);
@import url(./Table.css);

*{
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  text-shadow: 0 0 2px ;
}
*::-webkit-scrollbar{display: none;}
body{
  margin: 0;
  overflow: hidden;
}
a{
  display: block;
}
li:hover>a{
  color: green;
  transform: translateY(-2px);
}

